@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Lato&display=swap');



body {

    font-family: 'Karla', sans-serif;
    background-color: #B5FFFC;
    background-image: linear-gradient(0deg, #B5FFFC 0%, #FFDEE9 100%);
    background-repeat: repeat-x;
}

header {
    width: 90%;
    text-align: center;
    text-shadow: 5px 4px 7px rgba(98, 13, 206, 0.54),
        -5px -4px 7px rgba(206, 0, 198, 0.57),
        2px -5px 14px #EEFFFF;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
}

#status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.status_message {
    height: 40px;
}

#container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20% 20% 0% 0% / 10% 10% 10% 10%;
}

.container__tower {
    width: 90%;
    height: 225px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.container__tower__bloco {
    height: 35px;
    border: none;
    border-radius: 4% 4% 4% 4% / 10% 10% 10% 10%;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.buttons_reset {
    width: 50%;
    height: 35px;
    border: 2px double aqua;
    border-radius: 4% 4% 4% 4% / 10% 10% 10% 10%;
    background-color: rgb(43, 0, 43);
    color: aqua;
}

/* -- Cores dos discos
#110030 - Maior 
#2d1e55
#4f387d
#7454a6
#9b71d2
#c490ff - Menor  */

@media screen and (min-width: 600px) {
    #container {
        flex-direction: row;
        justify-content: space-around;
    }

    .container__tower {
        width: 30%;

    }
}