@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Lato&display=swap');



body {

    font-family: 'Karla', sans-serif;
    background-color: #B5FFFC;
    background-image: linear-gradient(0deg, #B5FFFC 0%, #FFDEE9 100%);
    background-repeat: repeat-x;
}

header {
    width: 90%;
    text-align: center;
    text-shadow: 5px 4px 7px rgba(98, 13, 206, 0.54),
        -5px -4px 7px rgba(206, 0, 198, 0.57),
        2px -5px 14px #EEFFFF;
    margin: auto;
}


main {
    display: flex;
    flex-direction: column;
}

#status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.status_message {
    height: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.counter {
    position: relative;
    font-family: 'Karla', sans-serif;
    color: rgb(121, 112, 112);
    font-size: 15px;
    width: 1000%;
    height: 100px;
}

#seletor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#seletor p {
    margin-bottom: 10px;
    font-size: large;
    width: 70%;
    height: 20px;
    text-align: center;
}

#seletor input {
    margin-bottom: 10px;
    height: 20px;
    width: 50%;
    border: none;
    background-color: rgba(163, 180, 228, 0.822);
    border-radius: 2px;
}

#seletor button {
    margin-bottom: 15px;
    height: 20px;
    width: 30%;
    border: none;
    background-color: royalblue;
    border-radius: 5px;
}

#seletor button:hover {
    transition-delay: 100;
    border: 1px solid white;
    width: 29%;
    height: 19px;
    color: white;

}

#container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20% 20% 0% 0% / 10% 10% 10% 10%;
}

.container__tower {
    width: 90%;
    height: 225px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.container__tower__bloco {
    height: 35px;
    border: none;
    border-radius: 4% 4% 4% 4% / 10% 10% 10% 10%;
    background-color: red;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.buttons_reset {
    width: 50%;
    height: 35px;
    border: 2px double aqua;
    border-radius: 4% 4% 4% 4% / 10% 10% 10% 10%;
    background-color: rgb(43, 0, 43);
    color: aqua;
}

.buttons_reset:hover {
    transition-delay: 0.5s;
    background-color: rgb(59, 3, 59);
    border: 2px solid white;
}

.victoryText {
    color: rgb(9, 101, 138);
    font-size: 20px;
}

@media screen and (min-width: 600px) {
    body {
        overflow: auto;
    }

    header {
        height: 40px;
    }

    header h1 {
        margin-top: 10px;
    }

    .status_message h3 {
        font-size: 15px;
    }

    #container {
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        height: 50vh;
    }

    .container__tower {
        width: 30%;
        height: 100%;
        padding-bottom: 5px;

    }

    .container__tower__bloco {
        height: 5vh;
    }

    .buttons_reset {
        width: 150px;
        height: 8vh;
    }

    #buttons {
        margin-bottom: 0px;
    }

    #seletor p {
        margin-bottom: 10px;
        font-size: large;
        width: 40%;
        height: 20px;
        text-align: center;
    }

    #seletor input {
        width: 25%;

    }

    #seletor button {

        width: 15%;
    }


}